<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
   
    <style>
        body {
            background-color: rgba(38, 93, 128, 0.677);
        }
    .container{
        padding-top: 25px;
    }
        #login-box {
            min-height: 60vh;
            padding-top: 3rem;
        }
    
        .form-control {
            border: none !important;
    
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-8 mx-auto">
            <form method="post" class="card shadow-lg">
                {% csrf_token %}
                <div class="card-header text-center bg-dark text-light">
                    <h3>Login to Account</h3>
                </div>
                {% include 'components/message.html' %}
                <div class="card-body">
                    <div class="mb-2">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control form-control-lg" name="username" id="username"
                            aria-describedby="userHelp" placeholder="Username" />
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg" name="pass" id="pass"
                            aria-describedby="passHelp" placeholder="password" />
                    </div>
                    <div class="d-grid text-center">
                        <button class="btn btn-primary">
                            Login
                        </button>
                        <a class="fw-bold nav-link p-3 fs-6" href="{% url 'register' %}">Create an account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</html>